.statistics{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--thirdbg);
}

.stats {
    display: flex;
    justify-content: space-around;
}

.statistics__heading{
    font-size: var(--size-2xl);
    color: var(--text);
}
.statistics__p{
    max-width: 60ch;
    font-size: var(--size-s);
}

/*xs*/
@media (min-width: 475px) {
    .statistics {
        gap: 1.5rem;
    }
.statistics__heading{
        font-size: var(--size-3xl);
    }
}

.statistics__p{
    font-size: var(--size-3xl);
}


/*l*/
@media (min-width: 1024px) {
    .statistics{
        gap: 2rem;
}
.statistics__heading{
    font-size: var(--size-4xl);
    }
}

.statistics__p{
    font-size: var(--size-3xl);
}

