.btn{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: transparent;
    color: var(--bg);
    padding: 0.4em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(14, 165, 233, 0.2)
}
.btn:hover{
    transform: translateY(-4px);
    transition: transform 0.5s;
    box-shadow: 0 10px 20px rgba(14, 165, 233, 0.2)

}
.container { /*marginile si paddinguri se pun separat ca elementele sa nu si ia inherit si sa nu mai poata fii editabile*/
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}
.section{
    margin-top: 5rem;
}
.accent{
    color: var(--primary);
}

/*xs*/
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/*xs*/
@media (min-width: 600px) {
    .container {
        max-width: 600px;
    }
}

/*m*/
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/*l*/
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section{
        margin-top: 10rem;
    }
}

/*xl*/
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/*xxl*/
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}